<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/add_user" method="POST">
            <fieldset>
                <p>
                    <label>name:</label>
                    <input type="text" name="name">
                </p>
                <p>
                    <label>quote:</label>
                    <input type="text" name="quote">
                </p>
                <input type="submit" value="submit">
            </fieldset>
        </form>
    </div>
    <table border="1">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>quote</th>
                <th>time</th>
                <th>operation</th>
            </tr>
            <% for(var user of users) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.quote %></td>
                <td><%= user.createdAt %></td>
                <td>
                    <form action="/mongooses/show_update/<%= user.id%>" method="POST">
                        <input type="submit" value="edit">
                    </form>
                    <form action="/mongooses/destroy/<%= user.id%>" method="POST">
                        <input type="submit" value="delete">
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
</body>
</html>